@import "index.scss";

.logged-in {
  padding: 2vh;
  flex-basis: 11vh;
  flex-shrink: 0;

  border-bottom: 0.2vh solid $darkenWhite30;

  display: flex;
  align-items: center;
  justify-content: center;

  &-username {
    $lineHeight: 3.1vh;
    line-height: $lineHeight;
    max-height: $lineHeight *3;
    overflow: hidden;
    font-size: 2.6vh;
    word-break: break-all;
  }
}
