@import "index.scss";

.logged-in {
  background: $inputBackground;
  padding: 2vh;
  flex-basis: 11vh;
  flex-shrink: 0;

  border-bottom: 0.2vh solid $darkenWhite20;

  display: flex;
  align-items: center;
  justify-content: left;

  &-photo {
    flex-basis: 10vh;
    height: 10vh;
    flex-shrink: 0;

    background: #fff;
    border-radius: 50%;

    box-sizing: border-box;
    background-position: center;
    background-size: cover;

    border: $dooglysColor 1px solid;
    box-shadow: 0 0.185vh 0.185vh 0.185vh $dooglysColor;
  }

  &-username {
    display: flex;

    margin-left: 5%;
    flex: 1;
    max-height: 10vh;

    color: black;
    font-size: 2.8vh;

    overflow: hidden;
    word-break: break-word;
  }
}
