@import "index.scss";

.user {
  &-selected {
    background: $inputBackground;
  }

  &-avatar {
    margin: 0 5%;
    width: 8.15vh;
    height: 8.15vh;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    background-position: center;
    background-size: cover;

    border-radius: 50%;
  }

  &-about {
    margin-right: 5%;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;

    &-name {
      $lineHeight: 3.6vh;
      line-height: $lineHeight;
      max-height: $lineHeight * 2;
      overflow: hidden;
      font-size: 3vh;
    }

    &-status {
      color: $offlineColor;
      font-size: 2.5vh;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      &-online {
        $size: 2vh;
        height: $size;
        width: $size;
        margin-right: $size*0.5;
        background-color: $green;
        border-radius: 50%;
        display: inline-block;
      }

      &-offline {
        $size: 2vh;
        height: $size;
        width: $size;
        margin-right: $size*0.5;
        background-color: $darkenWhite50;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}
