@import "index.scss";

.user {
  &-selected {
    background: $inputBackground;
  }

  &-avatar {
    flex-basis: 20%;
    margin: 0 5%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.15vh;
    height: 8.15vh;
    overflow: hidden;
    background: #fff;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: white 1px solid;
  }

  &-avatar img {
    display: block;
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  &-about {
    margin-right: 5%;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;

    &-name {
      $lineHeight: 3.6vh;
      line-height: $lineHeight;
      max-height: $lineHeight * 2;
      overflow: hidden;
      font-size: 3vh;
    }

    &-status {
      color: rgba(0, 0, 0, 0.55);
      font-size: 2.5vh;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      &-online {
        $size: 2vh;
        height: $size;
        width: $size;
        margin-right: $size*0.5;
        background-color: $green;
        border-radius: 50%;
        display: inline-block;
      }

      &-offline {
        $size: 2vh;
        height: $size;
        width: $size;
        margin-right: $size*0.5;
        background-color: $darkenWhite50;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}
