
.Table {
  $light-color: #ffffff;
  $dark-color: #f2f2f2;
  $TableMargin: 4vh;
  $dooglysColor: rgb(1, 186, 191);
  $headerHeight: 3.4vw;
  $fontSize: 1.15vw;
  $fontSizeStrong: 1.25vw;
  $fontSizeSmall: 1vw;
  $iconFontSize: 2.1vw;
  $lineHeight: 2.3vw;

  align-self: stretch;
  margin-top: $TableMargin;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;


  box-sizing: border-box;

  border-left: 0.4vw solid $dooglysColor;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: $fontSize;
  line-height: $lineHeight;

  &-header {
    font-weight: 600;
    font-size: $fontSizeSmall;
    color: rgb(153, 153, 153);
    background: $dark-color !important;
    height: $headerHeight !important;
    padding: 0 !important;
  }

  &-header:hover {
    background: $dark-color !important;
    cursor: initial !important;
  }

  &-no-devices {
    background: $dark-color !important;
    padding: 0 !important;
    height: $headerHeight;
    font-size: $fontSize;
    padding-left: 2% !important;
    font-weight: 600;
    color: rgb(153, 153, 153);
  }

  &-no-devices:hover{
    background: white !important;
    cursor: initial !important;
  }

  &-row {
    background: white;
    border-bottom: 1px solid rgb(233, 233, 233);

    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    transition: 0.5s ease-out;

    padding: 1vw 0;

    &-item {
      padding-right: 2vw;
      box-sizing: border-box;
      word-break: break-word;

      &:nth-of-type(1) {
        padding-left: 0.5vw;
        flex-basis: 9%;
        text-align: center;
      }

      &:nth-of-type(2) {
        flex-basis: 46%;
      }

      &:nth-of-type(3) {
        flex-basis: 34%;
      }

      &:nth-of-type(4) {
        padding-right: 1vw;
        display: flex;
        flex: 1;
      }

      .light-text {
        color: rgb(197, 195, 196);
      }

      &-icon {
        flex-basis: auto;
        display: flex;
        align-items: center;
      }
    }

    .success {
      fill: rgb(0, 186, 193);
      font-size: $iconFontSize;
    }
    .failure {
      padding: 0;
      fill: rgb(210, 87, 89);
      font-size: $iconFontSize;
    }
    .loading {
      fill: rgb(116, 116, 116);
      font-size: $iconFontSize;
      animation: loading-spin infinite 5s linear;
      transition: 0.5s ease-out;
    }
    .reconnect {
      fill: $dooglysColor;
      font-size: $iconFontSize;
      transform: rotate(45deg);
      transition: 0.5s ease-out;
    }
    .reconnect:hover {
      fill: darken($dooglysColor, 10%)
    }
  }
  &-row:hover {
    background: darken($dark-color, 4%);
    cursor: pointer;
  }

  .strong-text {
    font-size: $fontSizeStrong;
  }
}