@import 'index.scss';

.footer-container-default {
  padding: 0.8vw 3vw - 0.5vw;
  color: white;
  font-size: 1.2vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background: $dooglysColor;

  &-label {
    flex: 1;
    margin-left: 1vw;
  }

  &-img {
    flex-basis: auto;
    svg {
      font-size: 2.7vw;
    }
  }

  transition: 1.0s ease-out;
  cursor: pointer;
  &:hover {
    background: darken($dooglysColor, 5%);
    cursor: pointer;
  }
}
