@import "index.scss";

.home-container {
  display: flex;
  flex-flow: column nowrap;

  width: 80vw;
  height: 90vh;

  margin: 5vh auto;

  &-map {
    flex-shrink: 0;
    height: 67vh;
    width: 80vw;
  }

  &-back {
    text-decoration: none;
    margin-top: 1vw;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 4vw;
    background: $dooglysColor;

    transition: 0.5s ease-out;

    &:hover {
      background: darken($dooglysColor, 10%);
    }

    svg{
      margin-right: 2vw;
    }
  }
}

.title{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}