@import "index.scss";

.home-container {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;

  width: 80vw;
  height: 90vh;

  margin: 5vh auto;

  &-map {
    flex-shrink: 0;
    height: 70vh;
    width: 80vw;
  }

  &-back {
    text-decoration: none;
    margin-top: 1vw;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 4vw;
    background: $dooglysColor;

    transition: 0.5s ease-out;

    &:hover {
      background: darken($dooglysColor, 10%);
    }
  }
}