$dooglysColor: rgb(1, 186, 191);


@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0;

  margin: 0;
  padding: 0;

  background: rgb(223, 237, 238);
}
