$dooglysColor: #01BABF;
$errColor: rgb(210, 87, 89);
$initialBackground: darken(rgb(223, 237, 238), 5%);
$finalBackround: $dooglysColor;
$selectBackground: #DFEDEE;
$inputBackground: #b3e1ee;
$inputBackgroundContrast: #0b8592;
$closeColor: #c5c3c4;
$gray: #f2f2f2;
$grayDarken: rgb(153, 153, 153);
$borderColor: rgb(233, 233, 233);

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes color-change {
  0% {
    background: $initialBackground;
  }
  50% {
    background: $finalBackround;
  }
  100% {
    background: $initialBackground;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.3vw;

  margin: 0;
  padding: 0;

  background: rgb(223, 237, 238);

  input {
    padding: 0;
    border: 0;
    outline: 0;
  }

  button {
    padding: 0;
    border: 0;
    outline: 0;
  }
}
