$dooglysColor: rgb(1, 186, 191);
$errColor: rgb(210, 87, 89);
$initialBack: darken(rgb(223, 237, 238), 5%);
$finalBack: $dooglysColor;

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes color-change {
  0% {
    background: $initialBack;
  }
  50% {
    background: $finalBack;
  }
  100% {
    background: $initialBack;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0;

  margin: 0;
  padding: 0;

  background: rgb(223, 237, 238);
}
