@import "index.scss";

.main-menu-container {
  width: 80%;
  height: 90vh;

  margin: 5vh auto;
  border-radius: 1vw;

  background: #39CCCC;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &-text {
    flex-basis: 30vh;
    flex-shrink: 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
  }

  img {
    flex: 1;
    animation: spinner infinite 5s linear;
  }

  overflow: hidden;
}