@import 'index.scss';

.order-creation-notification {
  z-index: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-size: 1vw;
  line-height: 1.2vw;
  height: 3vw;

  margin-left: 1.8vw;
  min-width: 15vw;
  padding: 0 1vw;

  background: $errColor;

  color: white;
  word-break: break-word;
  border-radius: 2vw;
}

.order-creation-notification-big {
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 1vw;
  line-height: 1.2vw;
  height: 3vw;

  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  padding: 0 2vw;

  background: $errColor;

  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  word-break: break-word;
  border-radius: 2vw;
}
