.Filter {
  $fontSize: 1.15vw;
  $iconFontSize: 2.1vw;
  $lineHeight: 2.3vw;

  align-self: stretch;
  margin-top: 4vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: $fontSize;
  line-height: $lineHeight;
}

.Table {
  $light-color: #ffffff;
  $dark-color: #f2f2f2;
  $TableMargin: 2vh;
  $dooglysColor: rgb(1, 186, 191);
  $headerHeight: 3.4vw;
  $fontSize: 1.15vw;
  $fontSizeStrong: 1.25vw;
  $fontSizeSmall: 1vw;
  $iconFontSize: 2.1vw;
  $lineHeight: 2.3vw;

  align-self: stretch;
  margin-top: $TableMargin;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  box-sizing: border-box;

  border-left: 0.4vw solid $dooglysColor;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: $fontSize;
  line-height: $lineHeight;

  &-header {
    font-weight: 600;
    font-size: $fontSizeSmall;
    color: rgb(153, 153, 153);
    background: $dark-color !important;
    height: $headerHeight !important;
    padding: 0 !important;
  }

  &-header:hover {
    background: $dark-color !important;
    cursor: initial !important;
  }

  &-no-devices {
    background: $dark-color !important;
    padding: 0 !important;
    height: $headerHeight;
    font-size: $fontSize;
    padding-left: 2% !important;
    font-weight: 600;
    color: rgb(153, 153, 153);
  }

  &-no-devices:hover {
    background: white !important;
    cursor: initial !important;
  }

  &-row {
    background: white;
    border-bottom: 1px solid rgb(233, 233, 233);

    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    transition: 0.5s ease-out;

    padding: 1vw 0;

    &-item {
      padding-right: 2vw;
      box-sizing: border-box;
      word-break: break-word;

      &:nth-of-type(1) {
        padding-left: 0.5vw;
        flex-basis: 13%;
        text-align: center;
      }

      &:nth-of-type(2) {
        flex-basis: 30%;
      }

      &:nth-of-type(3) {
        flex-basis: 30%;
      }

      &:nth-of-type(4) {
        flex-basis: 20%;
      }

      &:nth-of-type(5) {
        padding-right: 2vw;
        display: flex;
        flex: 1;
      }

      .light-text {
        color: rgb(197, 195, 196);
      }

      &-icon {
        flex-basis: auto;
        display: flex;
        align-items: center;
      }
    }

    .fulfilled {
      fill: #2ECC40;
      font-size: $iconFontSize;
    }
    .pending {
      padding: 0;
      fill: #FF851B;
      font-size: $iconFontSize;
    }
    .approved {
      fill: $dooglysColor;
      font-size: $iconFontSize;
      //animation: spinner infinite 5s linear;
      transition: 0.5s ease-out;
    }
    .reconnect {
      fill: $dooglysColor;
      font-size: $iconFontSize;
      transform: rotate(45deg);
      transition: 0.5s ease-out;
    }
    .reconnect:hover {
      fill: darken($dooglysColor, 10%)
    }
  }
  &-row:hover {
    background: darken($dark-color, 4%);
    cursor: pointer;
  }

  .strong-text {
    font-size: $fontSizeStrong;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 2vh 0;
  border-radius: 0.1vw
}

.pagination > li {
  display: inline
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 0.3vw 0.6vw;
  margin-left: -0.05vw;
  line-height: 2.3vw;
  color: rgb(1, 186, 191);
  text-decoration: none;
  background-color: #fff;
  border: 0.05vw solid #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0.2vw;
  border-bottom-left-radius: 0.2vw
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0.2vw;
  border-bottom-right-radius: 0.2vw
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: rgb(1, 186, 191);
  background-color: #eee;
  border-color: #ddd;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  color: #fff;
  cursor: default;
  background-color: rgb(1, 186, 191);
  border-color: rgb(1, 186, 191)
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd
}

.pagination-lg > li > a, .pagination-lg > li > span {
  padding: 0.5vw 0.8vw;
  font-size: 0.9vw;
  line-height: 2.2vw
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
  border-top-left-radius: 0.3vw;
  border-bottom-left-radius: 0.3vw
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
  border-top-right-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw
}

.pagination-sm > li > a, .pagination-sm > li > span {
  padding: 0.25vw 0.5vw;
  font-size: 0.6vw;
  line-height: 2.4vw
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
  border-top-left-radius: 0.15vw;
  border-bottom-left-radius: 0.15vw
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
  border-top-right-radius: 0.15vw;
  border-bottom-right-radius: 0.15vw
}

.checkboxes {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transition: 0.5s ease-out;
}

.checkboxes:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkboxes input:checked ~ .checkmark {
  background-color: rgb(1, 186, 191);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxes input:checked ~ .checkmark:after {
  display: block;
}

.checkboxes .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
}