@import 'index.scss';

.select-label-default {
  color: $black;
  flex-shrink: 0;
  flex-basis: 20%;
  margin-right: 2%;
}

.css-rsyb7x {
  width: 100% !important;
}

.default-select {
  $height: 3vw;

  $controlFontSize: 1.15vw;

  $menuListFontSize: 1.15vw;
  $menuListMaxHeight: 30vh;
  $menuListLineHeight: 1.55vw;

  $dropdownSize: 1.5vw;

  $noOptionsFontSize: 1.2vw;
  $noOptionsHeight: 3vw;

  &-container{
    flex: 1;
    height: $height;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__input {
    width: 100% !important;
  }

  &-container {
    flex-basis: 100%;
    * {
      border: none !important;
    }
  }

  &__control:hover {
    cursor: pointer;
  }

  &__control {
    height: $height !important;

    border-radius: 0 !important;
    background: $selectBackground !important;

    font-size: $controlFontSize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    width: 100%;

    &--is-focused {
      * {
        border: none !important;
      }
      box-shadow: 0 0 0 0.1vw $dooglysColor !important;
    }

    transition: box-shadow 0.3s ease-out, background 0.5s ease-in-out, opacity 1.0s ease !important;
  }

  &__placeholder {
    height: $height !important;
    font-size: 1vw !important;
    width: 100%;
  }

  &__value-container {
    line-height: $height !important;
    height: $height !important;
    background: $selectBackground;
    padding: 0.5vw 1vw !important;


    input {
      width: 100% !important;
    }
    input:hover {
      cursor: pointer;
    }
  }

  &__single-value{
    display: flex !important;
    align-items: center !important;
  }

  &__indicators {
    background: $selectBackground;
  }

  &__indicator-separator {
    display: none;
  }

  &__dropdown-indicator {
    svg {
      width: $dropdownSize;
      height: $dropdownSize;
    }
  }

  &__menu-list {
    font-size: $menuListFontSize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    max-height: $menuListMaxHeight !important;
    line-height: $menuListLineHeight;
  }

  &__option {
    padding: 0.8vw 1vw !important;
    transition: 0.5s ease-out;
    display: flex !important;
    align-items: center !important;
  }

  &__option:hover {
    cursor: pointer;
    background: $selectBackground;
  }

  &__option--is-selected:hover {
    background: $dooglysColor;

  }

  &__option--is-selected {
    background: $dooglysColor !important;
  }

  &__menu-notice--no-options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $noOptionsHeight;
    font-size: $noOptionsFontSize;
  }

}

.open {
  .default-select__dropdown-indicator {
    transform: rotate(180deg);
  }
}

.select-vh {
  $height: 6vh;

  $controlFontSize: 2.4vh;

  $menuListFontSize: 2.4vh;
  $menuListMaxHeight: 40vh;
  $menuListLineHeight: 3vh;

  $dropdownSize: 3vh;

  $noOptionsFontSize: 2.5vh;
  $noOptionsHeight: 6vh;

  &__input {
    width: 100% !important;
  }

  &-container {
    flex-basis: 100%;
    * {
      border: none !important;
    }
  }

  &__control:hover {
    cursor: pointer;
  }

  &__control {
    min-height: $height !important;
    line-height: $height !important;
    height: $height !important;

    border-radius: 0 !important;
    background: $selectBackground !important;

    font-size: $controlFontSize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    &--is-focused {
      * {
        border: none !important;
      }
      box-shadow: 0 0 0 0.1vw $dooglysColor !important;
    }

    transition: box-shadow 0.3s ease-out, background 0.5s ease-in-out, opacity 1.0s ease !important;
  }

  &__placeholder {
    width: 100%;
  }

  &__value-container {
    line-height: $height !important;
    height: $height !important;
    background: $selectBackground;
    padding: 1vh 1.5vh !important;

    input {
      width: 100% !important;
    }
    input:hover {
      cursor: pointer;
    }
  }

  &__indicators {
    background: $selectBackground;
  }

  &__indicator-separator {
    display: none;
  }

  &__dropdown-indicator {
    svg {
      width: $dropdownSize;
      height: $dropdownSize;
    }
  }

  &__menu-list {
    font-size: $menuListFontSize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    max-height: $menuListMaxHeight !important;
    line-height: $menuListLineHeight;
  }

  &__option {
    padding: 1.5vh 1.5vh !important;
    transition: 0.5s ease-out;
    display: flex;
    align-items: center;
  }

  &__option:hover {
    cursor: pointer;
    background: $selectBackground;
  }

  &__option--is-selected:hover {
    background: $dooglysColor;

  }

  &__option--is-selected {
    background: $dooglysColor !important;
  }

  &__menu-notice--no-options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $noOptionsHeight;
    font-size: $noOptionsFontSize;
  }

}

.open {
  .select-vh__dropdown-indicator {
    transform: rotate(180deg);
  }
}

